*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header {
    background-image: url(../img/heading-bg.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: 180em;
    height: 480px;
}
h1,h4,p,span{
    color: #ffffff;
    text-align: center;
}
button{
    margin-left: 680px;
    position: absolute;
    margin-top: 290px;
}
.order{
    width: 250px;
    position: absolute;
    margin-top: 360px;
    height: 35px;
    margin-left: 42%;
    border-radius: 120px 60px;
}
.first{
    position: absolute;
    margin-top: 110px;
    margin-left: 450px;
}
.scond{
    position: absolute;
    margin-left: 330px;
    margin-top: 140px;
    padding: 1px;
}
.tt{
    position: absolute;
    margin-top: 490px;
    margin-left: 310px;
}
.tt img{
    padding: 20px;
}
section{
    background-image: url(../img/book-bg.jpg);
    width: 100%;
    height: 500px;
    position: absolute;
    margin-top: 800px;
}
.book{
    margin-left: 390px;
}
.cc{
    background-color: #ffffff;
    position: absolute;
    margin-top: 1px;
    margin-left: 760px;
    width: 25%;
    height: 288px;
}

select{
    width: 140px;
}
.bt{
    position: absolute;
    margin-left: 950px;
    margin-top: -150px;
}
button{
    background-color: tomato;
    width: 140px;
    height: 40px;
    margin-left: 15px;
}
.person{
    position: absolute;
    margin-left: 785px;
    margin-top: 162px;
}
.hour{
    position: absolute;
    margin-left: 205px;
}
.day{
    position: absolute;
    margin-left: 25px;
}
.full{
    position: absolute;
    margin-left: 785px;
    margin-top: 145px;
    
}
input{
    width: 130px;
    border-top: none;
    border-left: none;
    border-right: none;
}
.tel{
    position: absolute;
    margin-left: 965px;
    margin-top: 145px;
}
select{
    width: 140px;
    height: 40px;
    position: absolute;
    margin-top:-22px ;
}
.Victory{
    background-color: rgb(183, 223, 247);
}
.book{
    position: absolute;
    text-align: center;
    
}
nav{
    padding: 15px;
    margin-left: 470px;
}
nav a{
    text-decoration: none;
}
a{
    padding: 25px;
}
.rr{
    background-color: rgb(197, 67, 67);
    width: 100%;
    height: 200px;
    margin-top: 1280PX;
    padding: 10px;
}
.now{
    margin-top: 30px;
    background-color: #333;
    width: 200px;
    height: 50px;
    margin-left: 43%;
}
.sec2{
    margin-top: 500PX;
    margin-left: -25px;
}
.all{
    margin: 15px;
}
.breakfast{
    width: 25%;
    position: absolute;
    margin-left: 13%;
    margin-top: -400px;
}
.lunch{
    width: 25%;
    position: absolute;
    margin-left: 40%;
    margin-top: -400px;
}
.dinner{
    width: 25%;
    width: 25%;
    position: absolute;
    margin-left: 67%;
    margin-top: -400px;
}
.m{
    color: #333;
    margin-top: 120px;
}
.food{
    font-size: 35px;
    float: left;
    margin-left: 40px;
    margin-top: 15px;
    color: #333;
}
hr{
    width: 75%;
}
h3{
    color: #000;
}
.BLD{
    position: absolute;
    margin-top: 700px;
    padding: 40px;
    margin-left: 300px;
    font-size: 17PX;
}
.BLD span{
    color: #333;
}
.img1{
    position: absolute;
    margin-left: 30px;
}

.img2{
    position: absolute;
    margin-top: -30px;
    margin-left: 280px;
}

.img3{
    position: absolute;
    margin-top: -7px;
    margin-left: 590px;
}
.data{
    margin-left: -10px;
    background-color: rgb(183, 223, 247);
    height: 750px;
    margin-top: -23px;
}
.hight{
    margin-left: 150px;
}
.hightl{
    margin-left: 750px;
    margin-top: -165px;
}
.Admin{
    color:gray;
    margin-left: -330px;
    margin-top: -190px;
}
.Adminl{
    color:gray;
    margin-left: 300px;
    margin-top: -190px;
}
.ddddd{
    margin-top: -230px;
    position: absolute;
}
.low{
    margin-left: 150px;
    margin-top: 120px;
}
.lowr{
    margin-left: 750px;
    margin-top: -165px;
}
.n{
    color: #000;
}
.CONTINUE{
    color: rgb(199, 81, 81);
    margin-left: 430px;
}
.end{
    background-image: url(../../QuizT/img/signup-bg.jpg);
    width: 100%;
    height: 280px;
    position: absolute;
    margin-top: 150px;
}
.emm{
    margin-left: 28%;
    margin-top: 60px;
    position: absolute;
    width: 390px;
    height: 40px;
    background-color: rgb(196, 190, 190);
}
.send{
    position: absolute;
    margin-left: 57%;
    margin-top: 60px;
    height: 45px;
    color: #fff;
    background-color: rgba(1, 1, 1, 0.2);
    width: 200px;
}
footer{
    background-color: rgb(26, 28, 48);
    width: 100%;
    height: 180px;
    position: absolute;
    margin-top: 430px;
}
.copy{
    position: absolute;
    margin-top: 80px;
    margin-left: 155px;
}
.templatemo{
    position: absolute;
    margin-top: 80px;
    margin-left: 1100px;
}
